<section class="container excluir-pensamentos ff-inter">
  <div class="modal">
      <p>O Pokemon será deletado. <br/> Confirma a exclusão?</p>
      <div class="acoes">
          <p-button class="botao-excluir" styleClass="p-button-rounded p-button-danger" (click)="removerPokemon()" label="Excluir"></p-button>
          <p-button class="botao-cancelar" styleClass="p-button-rounded p-button-warning" (click)="cancelar()" label="Cancelar"></p-button>
      </div>
  </div>
  <div class="overlay"></div>
</section>
